/* src/app/app.component.css */

:host, #map {
  display: block;
  height: 100vh;
  width: 100vw;
}

.stand-selector {
  position: absolute;
  top: 80px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  padding: 5px 8px;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  cursor: pointer;
}

/* Garante que o painel de instruções da rota fique invisível */
.leaflet-routing-container {
  display: none !important;
}

.recalculating-message {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: Arial, sans-serif;
  font-size: 14px;
}