<div class="flex flex-col h-screen">

  <header class="bg-white shadow-md p-4 flex flex-wrap justify-between items-center z-20">
    <div class="flex items-center mb-2 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-blue-600 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l5.447 2.724A1 1 0 0021 16.382V5.618a1 1 0 00-1.447-.894L15 7m-6 3v10m6-10v10" />
      </svg>
      <h1 class="text-xl font-bold text-gray-800 mr-4">Show Rural GPS</h1>
      
      <button (click)="saveCarLocation()" title="Salvar local do carro"
              class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-3 rounded-lg flex items-center mr-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 000 2h6a1 1 0 100-2H7z" clip-rule="evenodd" /></svg>
        Salvar Carro
      </button>
      <button (click)="routeToCar()" title="Criar rota até o carro"
              class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-3 rounded-lg flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" /></svg>
        Onde Estacionei?
      </button>
    </div>

    <div class="w-full md:w-auto">
      <select (change)="onStandSelected($event)" title="Ir para um stand"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        <option value="" disabled selected>-- Selecione um stand --</option>
        <option *ngFor="let stand of stands; let i = index" [value]="i">
          {{ stand.name }}
        </option>
      </select>
    </div>
  </header>

  <main class="flex-grow">
    <div id="map" class="h-full w-full"></div>
  </main>

</div>